*/.DS_Store
.DS_Store
*.json
*.txt
__pycache__/
README.md


2010-2018全国卷全科题目
2010-2022全国卷填空题
2010-2022全国卷选择题
2010-2022全国卷主观题
Bench/2016-2022全国卷全科题目
gpt-3.5-turbo_填空题
gpt-3.5-turbo_选择题
gpt-3.5-turbo_主观题
gpt-3.5-turbo批改成绩
text-davinci-003_选择题

classify_answer.py
data_deduplication.py
json2md.py
json2xl.py
merge_questions.py
remake_choice_answer.py
score_statistics.py
test.py
warn.log

